qgame/game/migrations/

quantum-checkers-ui/node_modules/
quantum-checkers-ui/build/

__pycache__/
*.py[cod]

# Django #
############
qgame/*.log
qgame/*.pyc
qgame/*.pyo

qgame/db.sqlite3
qgame/media

qgame/.vscode
qgame/.idea
qgame/*.swp
qgame/*~
qgame/*.bak
qgame/.pytest_cache/


# Python virtual environments #
################################
venv/
*.venv
ENV/

# Node #
########

quantum-checkers-ui/npm-debug.log*
quantum-checkers-ui/yarn-debug.log*
quantum-checkers-ui/yarn-error.log*
quantum-checkers-ui/.env

# Build directory #
###################


# Development tools #
######################
/.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
/.idea/

# macOS #
#########
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails #
##############
._*

# Files that might appear in the root of a volume #
###################################################
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share #
########################################################
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



/qgame/game/static/game/*


