.game-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
}



.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 80vw;
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
    transform: rotate(45deg);
    transform-origin: center;
    position: relative;
}